In [1]:
import pandas as pd
import numpy as np

pd.pandas.set_option("display.max_columns", None)

In [3]:
df1 = pd.read_csv(r"C:\Users\Samyak\OneDrive\Desktop\Samiksha\Projects\Capstone Project\Datasets\202301-divvy-tripdata.csv")
df2 = pd.read_csv(r"C:\Users\Samyak\OneDrive\Desktop\Samiksha\Projects\Capstone Project\Datasets\202302-divvy-tripdata.csv")
df3 = pd.read_csv(r"C:\Users\Samyak\OneDrive\Desktop\Samiksha\Projects\Capstone Project\Datasets\202303-divvy-tripdata.csv")

In [7]:
cyclistic = pd.concat([df1, df2, df3], ignore_index = True)
cyclistic.shape

(639424, 13)

In [8]:
cyclistic.describe()

           start_lat      start_lng        end_lat        end_lng
count  639424.000000  639424.000000  638998.000000  638998.000000
mean       41.898163     -87.647618      41.898397     -87.647772
std         0.047667       0.028161       0.047758       0.028213
min        41.648501     -87.840000      41.630000     -87.900000
25%        41.879241     -87.661313      41.879255     -87.661364
50%        41.894666     -87.644098      41.894722     -87.644140
75%        41.926277     -87.630000      41.928712     -87.630000
max        42.070000     -87.528232      42.080000     -87.520000

In [9]:
cyclistic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 639424 entries, 0 to 639423
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             639424 non-null  object
 1   rideable_type       639424 non-null  object
 2   started_at          639424 non-null  object
 3   ended_at            639424 non-null  object
 4   start_station_name  551320 non-null  object
 5   start_station_id    551188 non-null  object
 6   end_station_name    546408 non-null  object
 7   end_station_id      546267 non-null  object
 8   start_lat           639424 non-null  float64
 9   start_lng           639424 non-null  float64
 10  end_lat             638998 non-null  float64
 11  end_lng             638998 non-null  float64
 12  member_casual       639424 non-null  object
dtypes: float64(4), object(9)
memory usage: 63.4+ MB

In [10]:
# List of Numerical Variables
numerical_features = [features for features in cyclistic.columns if cyclistic[features].dtypes != 'O']

print("Number of numerical variables:", len(numerical_features))

#visualise the numerical variables
cyclistic[numerical_features].head()

Number of numerical variables: 4

   start_lat  start_lng    end_lat    end_lng
0  41.924074 -87.646278  41.930000 -87.640000
1  41.799568 -87.594747  41.809835 -87.599383
2  42.008571 -87.690483  42.039742 -87.699413
3  41.799568 -87.594747  41.809835 -87.599383
4  41.799568 -87.594747  41.809835 -87.599383

In [11]:
# List of categorical Variables
categorical_features = [features for features in cyclistic.columns if cyclistic[features].dtypes == 'O']

print("Number of categorical variables:", len(categorical_features))

#visualise the numerical variables
cyclistic[categorical_features].head()

Number of categorical variables: 9

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,member

## Checking & Handling Missing Values

In [12]:
#Checking for Categorical missing values 
feature_with_na = [features for features in cyclistic.columns if cyclistic[features].isnull().sum()>1 and cyclistic[features].dtypes == 'O']
feature_with_na

for features in feature_with_na:
    print(features, np.round(cyclistic[features].isnull().mean()* 100 ,2), '% missing values')

start_station_name 13.78 % missing values
start_station_id 13.8 % missing values
end_station_name 14.55 % missing values
end_station_id 14.57 % missing values

In [13]:
#Replacing the categorical missing values 

for features in feature_with_na:
    #replace using mode value
    mode_value = cyclistic[features].mode()[0]
    cyclistic[features].fillna(mode_value, inplace = True)

cyclistic[feature_with_na].isnull().sum()

start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
dtype: int64

In [14]:
#checking for numerical variables missing value
numerical_feat_na = [features for features in cyclistic.columns if cyclistic[features].isnull().sum()>1 and cyclistic[features].dtypes != 'O']
feature_with_na

for features in numerical_feat_na :
    print(features, np.round(cyclistic[features].isnull().mean()* 100 ,2), '% missing values')

end_lat 0.07 % missing values
end_lng 0.07 % missing values

In [16]:
# dropping the missing values of numerical variables
#making a list of columns to clean
columns_to_clean = ['end_lat', 'end_lng']

#remove rows with missing values from the specified columns
cyclistic.dropna(subset = columns_to_clean, inplace = True)

cyclistic[numerical_feat_na].isnull().sum()

end_lat    0
end_lng    0
dtype: int64

In [17]:
cyclistic.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member

In [18]:
# Assuming cyclistic is your DataFrame and 'ride_id' is the column you want to check for duplicates
if 'ride_id' in cyclistic.columns:
    # Check for duplicates in the 'ride_id' column
    duplicates = cyclistic['ride_id'].duplicated()

    # If there are any duplicates, duplicates will contain True for duplicated rows
    if any(duplicates):
        print("There are duplicate values in the 'ride_id' column.")
    else:
        print("No duplicate values found in the 'ride_id' column.")
else:
    print("Column 'ride_id' not found in the DataFrame.")

No duplicate values found in the 'ride_id' column.

## Adding new columns

In [19]:
# adding new column ride_lenght
#converting to datetime format
cyclistic['started_at'] = pd.to_datetime(cyclistic['started_at'])
cyclistic['ended_at'] = pd.to_datetime(cyclistic['ended_at'])

#calculate ride_lenght
cyclistic["ride_length"] = cyclistic["ended_at"] - cyclistic["started_at"]

#format ride_length to HH:MM:SS
cyclistic["ride_length_formatted"] = cyclistic["ride_length"].dt.total_seconds().apply(lambda x: "{:02}:{:02}:{:02}".format(int(x // 3600), int((x % 3600)// 60), int(x % 60)))

cyclistic.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,ride_length_formatted
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,0 days 00:10:51,00:10:51
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,0 days 00:08:29,00:08:29
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,0 days 00:13:14,00:13:14
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,0 days 00:08:46,00:08:46
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,0 days 00:15:19,00:15:19

In [20]:
cyclistic.drop('ride_length', axis=1, inplace = True)

In [21]:
cyclistic.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length_formatted
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,00:10:51
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,00:08:29
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,00:13:14
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,00:08:46
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,00:15:19

In [22]:
cyclistic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 638998 entries, 0 to 639423
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ride_id                638998 non-null  object
 1   rideable_type          638998 non-null  object
 2   started_at             638998 non-null  datetime64[ns]
 3   ended_at               638998 non-null  datetime64[ns]
 4   start_station_name     638998 non-null  object
 5   start_station_id       638998 non-null  object
 6   end_station_name       638998 non-null  object
 7   end_station_id         638998 non-null  object
 8   start_lat              638998 non-null  float64
 9   start_lng              638998 non-null  float64
 10  end_lat                638998 non-null  float64
 11  end_lng                638998 non-null  float64
 12  member_casual          638998 non-null  object
 13  ride_length_formatted  638998 non-null  object
dtypes: datetime64[ns](2), float64(4), object(8)
memory usage: 73.1+ MB

In [23]:
#adding weekday column
#Create a new column 'day_of_week'
cyclistic['day_of_week'] =(cyclistic['started_at'].dt.dayofweek+1) % 7

#display the resulting df
cyclistic.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length_formatted,day_of_week
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,00:10:51,6
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,00:08:29,2
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,00:13:14,1
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,00:08:46,0
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,00:15:19,4

In [25]:
# Create a custom mapping for day of week
day_of_week_mapping = {0: 2, 1: 3, 2: 4, 3: 5, 4: 6, 5: 7, 6: 1}

# Apply the mapping to create a new column 'day_of_week_custom'
cyclistic['day_of_week'] = cyclistic['started_at'].dt.dayofweek.map(day_of_week_mapping)

print(cyclistic[['started_at', 'day_of_week']])

                started_at  day_of_week
0      2023-01-21 20:05:42            7
1      2023-01-10 15:37:36            3
2      2023-01-02 07:51:57            2
3      2023-01-22 10:52:58            1
4      2023-01-12 13:58:01            5
...                    ...          ...
639419 2023-03-08 00:00:02            4
639420 2023-03-21 14:24:42            3
639421 2023-03-21 16:48:52            3
639422 2023-03-16 20:36:05            5
639423 2023-03-27 19:58:08            2

[638998 rows x 2 columns]

In [26]:
cyclistic.shape

(638998, 15)

In [27]:
#create new column month
cyclistic['month'] = cyclistic['started_at'].dt.month

In [28]:
cyclistic.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length_formatted,day_of_week,month
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,00:10:51,7,1
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,00:08:29,3,1
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,00:13:14,2,1
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,00:08:46,1,1
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,00:15:19,5,1

In [29]:
cyclistic = cyclistic.rename(columns = {'ride_length_formatted' : 'ride_length'})

In [31]:
#removing rides less than 3 mins cause ride length is too small
cyclistic = cyclistic[cyclistic['ride_length'] > '00:03:00']

In [32]:
cyclistic.shape

(560385, 16)

In [53]:
cyclistic['started_at'].dt.hour

0         20
1         15
2          7
3         10
4         13
          ..
638992    20
638993     0
638994    14
638996    20
638997    19
Name: started_at, Length: 560385, dtype: int64

In [35]:
#mapping numeric values in the 'day_of_week' column to their corresponding string names
day_of_week_mapping = {1:'Sunday', 2:'Monday', 3:'Tuesday', 4:'Wednesday', 5:'Thursday', 6:'Friday', 7:'Saturday'}

cyclistic['day_of_week'] = cyclistic['day_of_week'].apply(lambda x: day_of_week_mapping[x])

In [36]:
#mapping numeric values in the 'month' column to their corresponding string names
month_mapping = {1:'January', 2:'February', 3:'March'}

cyclistic['month'] = cyclistic['month'].apply(lambda x: month_mapping[x])

In [37]:
cyclistic.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week,month
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,00:10:51,Saturday,January
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,00:08:29,Tuesday,January
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,00:13:14,Monday,January
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,00:08:46,Sunday,January
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,00:15:19,Thursday,January

In [38]:
cyclistic['ride_duration_mins'] = ((cyclistic['ended_at'] - cyclistic['started_at']).dt.total_seconds() / 60).round(3)

cyclistic.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week,month,ride_duration_mins
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,00:10:51,Saturday,January,10.850
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,00:08:29,Tuesday,January,8.483
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,00:13:14,Monday,January,13.233
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,00:08:46,Sunday,January,8.767
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,00:15:19,Thursday,January,15.317

In [40]:
cyclistic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 560385 entries, 0 to 639423
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             560385 non-null  object
 1   rideable_type       560385 non-null  object
 2   started_at          560385 non-null  datetime64[ns]
 3   ended_at            560385 non-null  datetime64[ns]
 4   start_station_name  560385 non-null  object
 5   start_station_id    560385 non-null  object
 6   end_station_name    560385 non-null  object
 7   end_station_id      560385 non-null  object
 8   start_lat           560385 non-null  float64
 9   start_lng           560385 non-null  float64
 10  end_lat             560385 non-null  float64
 11  end_lng             560385 non-null  float64
 12  member_casual       560385 non-null  object
 13  ride_length         560385 non-null  object
 14  day_of_week         560385 non-null  object
 15  month               560385 non-null  object
 16  ride_duration_mins  560385 non-null  float64
dtypes: datetime64[ns](2), float64(5), object(10)
memory usage: 77.0+ MB

In [ ]:
##Cyclistic_Bike =r"C:\Users\Samyak\OneDrive\Desktop\Samiksha\Projects\Capstone Project\Datasets\output.xlsx"

#cyclistic.to_excel(Cyclistic_Bike, index = False)

In [42]:
file_path =r"C:\Users\Samyak\OneDrive\Desktop\Samiksha\Projects\Capstone Project\Datasets\output.xlsx"

cyclistic.to_excel(file_path, index = False)